html{
  font-size: 50%;
}

@media(max-width: 650px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }
 
  .hero .container img {
    /*altera a ordem da posição*/
   order: -1;
   align-self: center;
  }
 
  .form-group {
    display: block;
  }
 }
 
 @media (max-width: 575px){
   nav {
     display: none;
   }
 
   .one,
   .two,
   .three {
     background-color:#fff;
     height: 5px;
     width: 100%;
     margin: 6px auto;
 
     transition-duration: 0.3s;
   }
 
   .menu-toggle {
     width: 40px;
     height: 30px;
     margin-right: 20px;
   }
 
   /* full screen */
   .menu-section.open {
     position: absolute;
     top: 0;
     left: 0;
 
     width: 100vw;
     height: 100vh;
 
     background-color: #14213d;
 
     z-index: 10;
 
     display: flex;
     justify-content: center;
     align-items: center;
   }
 
   .menu-section.open nav {
     display: block;
   }
 
   .menu-section.open .menu-toggle {
     position: absolute;
     right: 28px;
     top: 15px;
   }
 
   .menu-section.open .menu-toggle .one {
     transform: rotate(45deg) translate(7px, 7px);
   }
   .menu-section.open .menu-toggle .two {
     opacity: 0;
   }
   .menu-section.open .menu-toggle .three {
     transform: rotate(-45deg) translate(8px, -9px);
   }
 
   .menu-section.open nav ul {
     display: block;
     text-align: center;
   }
 
   .menu-section.open nav ul a {
     transition-duration: 0.5s;
     font-size: 3rem;
     line-height: 4rem;
     display: block;
   }
 
 }
 
 @media (max-width: 320px) {
   #form h3 {
     font-size: 2rem;
   }
 }